nav{
    height: 80px;
}

.form-control{
    background-color: rgb(229, 229, 229);
}

.nav-inner{
    height: 50%;
    width: 98%;
}

.mobile-logo-wrapper{
    max-width: 60px;
}

main{
    height: calc(100vh - 80px);
    /* padding-top: 80px; */
}

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(12, 4, 59);
    width: 150px;
    /* height: 100%; */
}

.content{
    width: calc(100vw - 150px);
    height: 100%;
    /* background-color: rgb(219, 219, 219); */
}


header .container .row div{
    height: 100%;
    border: 1px solid black;
}

#cards-wrapper{
    height: 100%;
}

.card{
    width: 100%;
}

#cards-wrapper .row{
    height: 100%;
}

.fa-search{
    position: absolute;
    left: 10px;
    top: 13px;
}

.opaco{
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

@media screen and (max-width: 576px) {
    aside{
        background-color: rgb(12, 4, 59);
        width: 70px;
    }

    .content{
        width: calc(100vw - 70px);
    }
    
}