nav{
    height: 80px;
}

.my-search-bar, .card-header{
    background-color: rgb(229, 229, 229);
}

.fa-search{
    position: absolute;
    left: 10px;
    top: 13px;
}

.opaco{
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.nav-inner{
    height: 50%;
    width: 98%;
}

.mobile-logo-wrapper{
    max-width: 60px;
}

main{
    height: calc(100vh - 80px);
    /* padding-top: 80px; */
}

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(12, 4, 59);
    width: 150px;
    /* height: 100%; */
}

.content{
    width: calc(100vw - 150px);
    overflow: auto;
    /* height: 100%; */
    /* background-color: rgb(219, 219, 219); */
}


/* header .container .row div{
    height: 100%;
    border: 1px solid black;
} */

/* #cards-wrapper{
    height: 100%;
} */

/* .card{
    width: 100%;
} */

/* #cards-wrapper .row{
    height: 100%;
} */

.my-checkbox{
 border-right: none;
}

.my-text-checkbox{
    border-left: none;
}

.class-logo{
    width: 8%;
}

tr td .my-table-big, tr th:first-child{
    width: auto;
}

tr td .my-table-mid{
    width: 20%;
}

tr td:not(:first-child), tr th:not(:first-child){
    width: 15%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    aside{
        width: 70px;
    }

    .content{
        width: calc(100vw - 70px);
    }

    tr td:not(:first-child), tr th:not(:first-child){
        width: 22%;
        text-align: center;
    }
    
}
